/* Animated gradient from */
.gradient-background {
  background: linear-gradient(254deg,#0068ca,#143759,#e2e2e2);
  background-size: 400% 400%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#gradient{
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
  /* margin-left: 10vw;
  margin-right: 10vw; */
  margin-top: 5vh;
  
}


body {
  background-color: #f4f0e6;
  /* margin: 10%; */
 
 
}

h1 {
  text-align: center; 
  color: #f4f0e6;
  font-family: "STIX Two Text", serif;;
  /* font-family: "Poppins", sans-serif; */
  font-weight: 900;
  font-style: normal;
}

.h1text{
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* HEADER */

header .header-text {
font-family: "Libre Franklin", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 1.4em;
color: black;
text-align: left;

}

header .header-text:hover {
  
  color: #8e8358;
  text-decoration: underline #d6c59d;
}

header .header-text:active{
  color: #957186; 
}


.logo{
  /* box-sizing: border-box; */
  max-width: 100%;
  height: auto;

}


/* transparent photo */
/* 
* {
  box-sizing: border-box;
} */


.photo-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
 
}

.photo-container img {
  vertical-align: middle;
  box-sizing: border-box;
  
}

.photo-container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}